{% extends 'base_generic.html' %}

{% block content %}
<div class="container">
    <h1>Gym App</h1>

    {% if user.is_authenticated %}
        <p>Witaj, {{ user.username }}!</p>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="button logout">Wyloguj się</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}" class="button login">Zaloguj się</a>
        <a href="{% url 'register' %}" class="button register">Zarejestruj się</a>
    {% endif %}
</div>

{% if user.is_authenticated %}
    <button class="button add_plan" id="openPopupBtn" type="button">Add Training Plan</button>
{% endif %}

<div id="popup" class="popup" style="display: none;">
    <div class="popup-content">
        <span class="close" id="closePopupBtn">&times;</span>
        <h2>Create a New Training Plan</h2>

        <form id="trainingPlanForm" method="POST" action="{% url 'create_training_plan' %}">
            {% csrf_token %}

            <label>Plan Name:</label>
            {{ form.name }}

            <label>Choose Exercises:</label>
            {{ form.exercises }}

            <label>Level of Intensity:</label>
            {{ form.intensity }}

            <label>Days of week:</label>
            {{ form.training_days }}

            <button type="submit">Save Plan</button>
        </form>
    </div>
</div>

{% load static %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}
