{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Gym App</h1>

    {% if user.is_authenticated %}
        <p>Witaj, {{ user.username }}!</p>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="button logout">Wyloguj się</button>
        </form>
        <button class="button add_plan" id="openPopupBtn" type="button">Add Training Plan</button>
    {% else %}
        <a href="{% url 'login' %}" class="button login">Zaloguj się</a>
        <a href="{% url 'register' %}" class="button register">Zarejestruj się</a>
    {% endif %}
</div>

{% if user.is_authenticated %}
<div class="training-plans-section">
    {% if is_trainer %}
    <h2>Plany treningowe podopiecznych</h2>
    {% else %}
    <h2>Twoje plany treningowe</h2>
    {% endif %}
    {% if training_plans %}
    <div class="training-plans-list">
        {% for plan in training_plans %}
        <div class="training-plan-item" data-id="{{ plan.id }}" style="position: relative; cursor: pointer;">
                <h3>{{ plan.name }} </h3>
                    {% if is_trainer %}
                        <div class="plan-display user">
                            <h4>Użytkownik: </h4>
                            <ul>
                                <li>{{ plan.user }}</li>
                            </ul>
                        </div>
                    {% endif %}
            <div class="plan-display exercises-list">
                <h4>Ćwiczenia:</h4>
                <ul>
                    {% for item in plan.trainingplanexercise_set.all %}
                        <li>{{ item.exercise.name }} x {{ item.repeats }} </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="plan-display plan-intensity">
                <h4>Intensywność:</h4>
                <ul>
                    <li>{{ plan.intensity }}</li>
                </ul>
            </div>

            <div class="plan-display plan-training_days">
                <h4>Dni treningu:</h4>
                <ul>
                    <li>{{ plan.get_training_days_display|join:", " }}</li>
                </ul>
            </div>
            {%if not is_trainer %}
                <div class="plan-display trainer_notes">
                <h4>Notatki Trenera:</h4>
                <ul>
                    <li>{{ plan.trainer_notes|default_if_none:"" }}</li>
                </ul>
                </div>
                <form method="post" action="{% url 'update_training_plan' plan.id %}" class="save-form" style="display:inline;">
                    {% csrf_token %}
                    <div class="plan-display plan-send_notification">
                    <label>
                        <input type="checkbox" name="send_notification" {% if plan.send_notification %}checked{% endif %}>
                        Wysyłaj powiadomienia e-mail
                    </label>
                </div>
                <div class="plan-display plan-notes">
                        <h4>Notatki:</h4>
                        <textarea name="notes" rows="3" style="width: 100%;" data-plan-id="{{ plan.id }}">{{ plan.notes|default_if_none:"" }}</textarea>
                    </div>
                    <button type="submit" class="button save-btn">Zapisz</button>
                </form>
                <div class="plan-actions" style="position: absolute; top: 8px; right: 8px; display: none;">
                    <form method="post" action="{% url 'delete_training_plan' plan.id %}" class="delete-form" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="button delete-btn">Usuń</button>
                    </form>
                </div>
            {% else %}
                <div class="plan-display notes">
                    <h4>Notatki Uzytkownika:</h4>
                    <ul>
                        <li>{{ plan.notes|default_if_none:"" }}</li>
                    </ul>
                </div>
                <form method="post" action="{% url 'update_trainer_notes' plan.id %}" class="save-form" style="display:inline;">
                    {% csrf_token %}
                    <div class="plan-display plan-notes">
                        <h4>Notatki dla podopiecznego:</h4>
                        <ul>
                            <textarea name="trainer_notes" rows="3" style="width: 100%;" data-plan-id="{{ plan.id }}">{{ plan.trainer_notes|default_if_none:"" }}</textarea>
                        </ul>
                    </div>
                    <button type="submit" class="button save-btn">Zapisz</button>
                </form>
            {%endif%}
        </div>
        {% endfor %}
    </div>
    {% else %}
        <p>Nie masz jeszcze żadnych planów treningowych.</p>
    {% endif %}
</div>
{% endif %}

<div id="popup" class="popup" style="display: none;">
    <div class="popup-content" style="max-height: 60vh; overflow-y: auto;">
        <span class="close" id="closePopupBtn">&times;</span>
        <h2>Create a New Training Plan</h2>
        <form id="trainingPlanForm" method="POST" action="{% url 'create_training_plan' %}">
            {% csrf_token %}
            <label>Plan Name:</label>
            {{ form.name }}
            <label>Choose Exercises:</label>
            <div id="exercise-list">
                {% for exercise in exercises %}
                <div>
                    <input type="checkbox" name="exercise_{{ exercise.id }}" id="exercise_{{ exercise.id }}">
                    <label for="exercise_{{ exercise.id }}">{{ exercise.name }}</label>
                    <input type="number" name="repeats_{{ exercise.id }}" min="1" value="10" style="width: 70px;">
                </div>
                {% endfor %}
            </div>
            <label>Level of Intensity:</label>
            {{ form.intensity }}
            <label>Days of week:</label>
            {{ form.training_days }}
            <button type="submit">Save Plan</button>
        </form>
    </div>
</div>

<script src="{% static 'js/home.js' %}"></script>
{% endblock %}
